:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 2;
  background-color: #242424;
}

body {
  overflow-y: auto;
}

.tree-node-content .name.project {
  font-size: 1rem;
  font-weight: 500;
  color: #f8f8f8;
  background-color: #474545;
}
.name.nodes {
  font-size: 0.875rem;
  font-weight: 500;
}

.tree-node-content {
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;
  color: #f8f8f8;
}

.tree-node-content:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.tree-node-content:hover .remove-button {
  display: inline-block;
}

.remove-button {
  display: none;
  cursor: pointer;
  background-color: transparent;
  border: none;
  right: 0;
  position: absolute;
  color: #f8f8f8;
}

.arrow-icon {
  cursor: pointer;
  width: 24px;
  height: 24px;
}

.tree-node {
  margin-left: var(--level-margin);
}

.container {  
  border: 1px solid #474545;  
  max-width: 25vw;
  min-height: 100%;
}

.tree-node-content.project {
  background-color: #474545;
}
